<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-20JBQFKJZ6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-20JBQFKJZ6');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/wtq4wci.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="{{ site.baseurl }}/media/favicon.png" type="image/png" />
    <script type="text/javascript" src="respond.min.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <!-- Adding the color change script here to eliminate the white flicker. -->
    <!-- <script type="text/javascript">
      var randomColor = Math.floor(Math.random()*16777215).toString(16);
      document.body.style.backgroundColor = '#' + randomColor;
    </script> -->
    <div class="gridContainer clearfix">
        <h1 class="title">{{ page.title }}</h1>
        <p class="subtitle">{{ page.content }}</p>
        <ul class="fluid fluidList social">
          <li class="social" id="facebook"><a href="https://facebook.com/austinvach"><img src="/media/transparent.png" alt="Facebook"></a></li>
          <li class="social" id="instagram"><a href="https://instagram.com/austinvach"><img src="/media/transparent.png" alt="Instagram"></a></li>
          <li class="social" id="linkedIn"><a href="https://linkedin.com/in/austinvach/"><img src="/media/transparent.png" alt="LinkedIn"></a></li>
          <li class="social" id="twitter"><a href="https://twitter.com/austinvach"><img src="/media/transparent.png" alt="Twitter"></a></li>
          <li class="social" id="youtube"><a href="https://www.youtube.com/channel/UCVjvRLaP0cE-H_LYlSq4nTg"><img src="/media/transparent.png" alt="YouTube"></a></li>
        </ul>
    </div>
  </body>
</html>
